body {
    background-color: rgba(244,244,244,1) !important;
    font-family: 'Roboto', sans-serif !important;
    -webkit-font-smoothing: antialiased;
}

#app {
    padding-bottom: 50px;
}

#content-stuff a {
    color: #BA0116;
}

#content-stuff a:hover {
    color: #87000F;
}

tr.request {
    border-left: 3px solid #C21C34;
}

.table-striped>thead>tr {
    background-color: #fff;
}

.table-striped>thead>tr>th {
    padding-top: 30px !important;
    padding-bottom: 20px !important;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.02);
}

.table-striped>tbody>tr:nth-of-type(even) {
    background-color: rgba(0,0,0,.05);
}

.c-datepicker__header-date {
    height: 182px !important;
}

.c-datepicker__header-date span {
    display: block;
    position: relative;
    line-height: 1.2em;
}

.c-datepicker__clock__hours, .c-datepicker__clock__minutes {
    position: relative !important;
}

#datepicker-btn * {
    pointer-events: none;
}

.navbar {
    margin-bottom: 0 !important;
}


.sub-nav {
    background-color: #4A4A4A;
    margin-bottom: 40px;
}

.sub-nav ul {
    margin: 0 0 0 -20px;
    padding: 0;
}

.sub-nav ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style: none;
    background-color: transparent;
    transition: .15s ease background-color;
}

.sub-nav ul li:hover {
    background-color: #9B9B9B;
}

.sub-nav ul li a {
    padding: 21px 20px 20px;
    display: inline-block;
    color: #fff;
    font-size: 16px;
}

.sub-nav ul li a:hover {
    text-decoration: none;
}

body[class^="template-travel-"] nav.navbar, body[class^="template-travel-"] nav.sub-nav {
    display: none;
}

.travel-details {
    margin-top: 50px;
}

.travel-details p span {
    font-weight: bold;
}

.section-wrap {
    background-color: #fff;
    padding: 5px 15px 15px;
    margin-bottom: 30px;
    box-shadow: 0 2px 7px 2px rgba(0,0,0,.1);
}

.mdl-textfield {
    width: 100% !important;
}

.has-error .mdl-textfield__input {
    border-color: #C21C34 !important;
}

.row.social-share-links {
    padding-top: 20px;
    margin-left: -3px;
    margin-right: -3px;
}

.row.social-share-links > div {
    padding-left: 3px;
    padding-right: 3px;
}

#content-stuff .social-share-links a {
    color: #fff;
    position: relative;
    padding: 6px 5px;
    display: block;
    width: 100%;
    background-color: #aaa;
}

@media ( max-width: 750px ) {

    #content-stuff .social-share-links a {
        margin-bottom: 5px;
    }
}

#content-stuff .social-share-links a:hover, #content-stuff .social-share-links a:active, #content-stuff .social-share-links a:visited {
    color: #fff;
}

#content-stuff .social-share-links a.twitter {
    background-color: #00ACF5;
}

#content-stuff .social-share-links a.facebook {
    background-color: #1E599B;
}

#content-stuff .social-share-links a.gplus {
    background-color: #DB4C32;
}

#content-stuff .mdl-button--accent.mdl-button--accent.mdl-button--raised, #content-stuff .mdl-button--accent.mdl-button--accent.mdl-button--fab {
    background-color: #BA0116;
}

#content-stuff .social-share-links a .social-icon svg {
    width: 32px;
    height: 20px;
    padding: 7px 1px;
    box-sizing: content-box;
    fill: #fff;
}

@media ( max-width: 992px ) {

    .container.details-container {
        width: calc(100% - 30px);
    }

    .travel-details {
        margin-top: 0px;
    }
}

@media ( max-width: 500px ) {

    .travel-details .section-wrap .row {
        margin-bottom: 10px;
    }

    .container.details-container h4 {
        font-size: 20px;
    }

}

.mdl-textfield__label {
    margin-bottom: 0;
    color: rgba(0,0,0,.26) !important;
}

@media ( max-width: 768px ) {

    .travel-details p span {
        display: block;
        width: 80px;
    }
}

@media ( max-width: 400px ) {

    .container.details-container h4, .container.details-container h5 {
        font-size: 16px;
    }

}

@media (min-width: 500px) {

    .container.details-container .col-sm-3, .container.details-container .col-sm-9 {
        float: left;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }

}

.travel-details .section-wrap p {
    margin-bottom: 0;
}

.nav-tabs>li>a, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
    color: lightgrey !important;
    background-color: #fcfcfc !important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #000 !important;
    background-color: #fff !important;
}